.board {
    width: 800px;
    height: 800px;
    margin: 50px auto;
}

.board div {
    display: flex;
}

.board div div {
    width: 100px;
    height: 100px;
    border: inherit;
}

.board div div span {
    display: flex;
    justify-content: left;
    align-items: end;
    font-size: 18px;
}

.black {
    background-color: #B58863;
}

.white {
    background-color: #F0D9B5;
}
